<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Document</title>
  </head>
  <body>

    <div class="app">
      <h1 v-if="isShow">Name is : {{name}} </h1>
     <button @click="ShowHandler" v-if="isShow">Show</button>
     <button @click="ShowHandler" v-if="!isShow">Hide</button>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./script.js"></script>
  </body>
</html>
